.app {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  height: 100%;
  background-color: #f3f5f7;

  .configWrap {
    margin-top: -50px;
    .item {
      margin: 20px 0;
      .label {
        display: inline-block;
        margin-left: 10px;
        text-align: right;
        width: 100px;
        color: #666;
      }
    }
  }

  .coverImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 400px;
    font-size: 60px;
    color: #000;
    font-weight: bolder;
    background-color: #f2db5f;
  }

  .buttonWrap {
    margin-top: 50px;
    width: 750px;
    text-align: right;
  }
}
